body {
    margin: 0;

    background-image: url("imagenes/playa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body:before {
    content: "";
    height: 50px;
    width: 100%;
    min-height: 100vh;/*view port height*/
    position: absolute;

    background: rgb(0, 60, 190);
    opacity: 0.57;

    z-index: -1;
}

ul {
    list-style-type: none;
}

/* menu__nav*/
.menu__nav {
    margin-left: 10%;

}

.menu__nav li {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;

}

.menu__nav li a {
    color: rgb(22, 228, 22);
    text-decoration: none;
    font-size: 24px;
}

.menu__nav li img{
    width: 50px;

}
/**/

/*menu_iconos*/
.menu__icons li img {
    width:24px;
}

.menu__icons li {
    float:left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
/**/

.buttons {
    color: yellow;
    background-color: #4CAF50;
    margin-left: 33%;
    display: center;
    font-size: 64px;
}

.menu {
    width: 100vw;/*view port width*/
    display: flex;
}

h1 {
    font-size: 64px;
    text-align: center;
    color: white;
}
h2 {
    font-size: 64px;
    text-align: center;
    color: white;
}
div {
    width: 50%;
    margin:auto;
    margin-top:20%;
    background-color: #4CAF50;
}

ul.foo {
    margin-left: 10px;    
    flex-wrap: nowrap;
}

ul.foo button{
}